@import "../../../node_modules/ui-lite/src/scss/variables";

@import "../../../node_modules/ui-lite/src/scss/components/main";
@import "../../../node_modules/ui-lite/src/scss/components/header";
@import "../../../node_modules/ui-lite/src/scss/components/footer";
@import "../../../node_modules/ui-lite/src/scss/components/input";
@import "../../../node_modules/ui-lite/src/scss/components/radio";
@import "../../../node_modules/ui-lite/src/scss/components/button";
@import "../../../node_modules/ui-lite/src/scss/components/select";
@import "../../../node_modules/ui-lite/src/scss/components/sidebar";
@import "../../../node_modules/ui-lite/src/scss/components/submenu";
@import "../../../node_modules/ui-lite/src/scss/components/container";

.start-button-container {
  text-align: center;
  padding-top: 20%;

  a.ui-btn.start-button {
    width: 200px;
    font-size: 40px;
    line-height: 74px;
  }
}

.ui-header {
  .ui-header-element-container.ui-header-logo-conteiner {
    font-size: 2em;
    font-weight: bold;
  }
}

h1 {
  color: $radio-color;
  text-align: center;
}

.ui-container {
  position: relative;
  top: 0px;
}

.track-table {
  color: $radio-color;
  min-width: 400px;

  .author, .album, .track {
    width: 33%;
  }
}

.add-track-form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 4px;
  margin-top: 100px;

  .ui-input-container {
    width: 100%;
  }
}

.right {
  text-align: right;
}